<h1 class="center app-title">Bullet Journal</h1>

<h2 class="center log-title">Sign Up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="row center">
    <div class="small-12 column">
      <%= f.label :username, class: 'my-labels' %><br />
      <%= f.text_field :username, autofocus: true, class: 'my-fields' %>
    </div>

    <div class="small-12 column">
      <%= f.label :password, class: 'my-labels' %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", class: 'my-fields' %>
    </div>

    <div class="small-12 column">
      <%= f.label :password_confirmation, class: 'my-labels' %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'my-fields' %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: 'submit-button' %>
    </div>
  </div>
<% end %>

<div class="row center link-container">
  <%= render "devise/shared/links" %>
</div>
